/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.img {
    height: 3.5rem;
    margin: 0 1rem;
}

.ul {
    list-style: none;
    padding: 0;
}

.ul li {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: auto 1fr;
    margin-bottom: 1.75rem;
}

/* -------------------------------------------------
    Media queries
   ------------------------------------------------- */

@media(max-width: 800px) {
    .img {
        margin: 0 auto;
    }

    .ul li {
        grid-template-columns: auto;
        text-align: center;
    }
}