/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.cases {
    font-size: xx-large;
    font-weight: 400;
}

.container {
    margin: .5rem;
    padding: 1.5rem;
    text-align: center;
}

.h3 {
    font-size: medium;
    font-weight: 400;
}

.ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
}