/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.header {
    bottom: 2rem;
    color: var(--font-high-contrast);
    position: absolute;
    text-align: center;
    width: 100%;
}