/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.imgContainer {
    height: 55vh;
    clip-path: inset(0);
}

.header {
    background-image: linear-gradient(to bottom, #030F1F00, #030F1FFF);
    bottom: 0rem;
    color: var(--high-contrast-color);
    margin: 0;
    padding: 1.75rem 0 3.25rem 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

.img {
    height: 55vh;
    object-fit: cover;
    object-position: center;
    position: fixed;
    width: 100%;
}