/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.li {
    align-items: flex-start !important;
    flex-direction: column;
    padding: 0 !important;
}