/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

a {
    background-color: var(--dark-reduced);
    color: var(--dark-high-contrast);
    padding: 1rem 1.5rem;
    text-decoration: none;
    transition: all .2s ease-out;
    position: relative;
}

a:focus,
a:hover {
    box-shadow: inset 0 -4rem 0 var(--interactive-background);
    color: var(--interactive-contrast);
}

li {
    margin: 0 .25rem;
}

p {
    margin: 2rem 0 0 0;
}

ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

svg {
    --scale: 50%;

    height: var(--scale);
    left: calc(var(--scale) / 2);;
    position: absolute;
    top: calc(var(--scale) / 2%);
    width: var(--scale);
}