/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.ul {
    display: grid;
    gap: 1.25rem;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding: 0;
}

/* -------------------------------------------------
    Media queries
   ------------------------------------------------- */

@media(max-width: 800px) {
    .ul {
        display: flex;
        flex-direction: column;
    }

    .ul li {
        margin: 1rem;
    }
}