/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.container {
    background-color: var(--high-contrast-color);
    border-radius: 2rem;
    box-shadow: .3em .3em 1em rgba(0, 0, 0, .3);
    display: flex !important;
    flex-direction: row !important;
    gap: 1rem;
    margin: 0 auto !important;
    padding: .5rem 1rem !important;
    position: relative;
    top: -2rem;
    width: 25%;
}

.menuItem {
    border-top: 1px solid var(--separator-color) !important;
    display: grid;
    grid-template-columns: 2rem auto;
    padding: 1rem !important;
}

.menuItem img {
    height: auto;
    margin-right: 1rem;
    width: 2rem;
}

.select {
    width: 100%;
}

/* -------------------------------------------------
    Media queries
   ------------------------------------------------- */

@media(max-width: 800px) {
    .container {
        width: 75%;
    }
}