/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.container {
    display: grid !important;
    grid-template-columns: 1.5fr 1fr;
    column-gap: 2rem;
}

.picker {
    position: sticky;
    top: 5rem;
    z-index: 10;
}

/* -------------------------------------------------
    Media queries
   ------------------------------------------------- */

@media(max-width: 800px) {
    .container {
        grid-template-columns: 100%;
    }
}