/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.img {
    margin: auto 1rem;
    height: 3.5rem;
}

.ul {
    list-style: none;
    padding: 0;
}

.ul li {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: auto 1fr;
    margin-bottom: 2rem;
}