/* -------------------------------------------------
    Variables
   ------------------------------------------------- */

:root {
    /* --accent-color-1: #d81159;
    --accent-color-2: #8f2d56;
    --accent-color-3: #218380;
    --accent-color-4: #73d2de; */

    --dark-color: #212121;
    --dark-reduced: #505050;
    --dark-high-contrast: #fff;

    --interactive-background: #86a59c;
    --interactive-contrast: #000;

    /* --light-color: #505050; */
}

/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

body,
html {
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .025rem;
    line-height: 1.5;
    margin: 0;
    word-spacing: .075rem;
}

footer {
    border-top: .2rem solid #218380;
    margin-top: 5rem;
}

footer,
header {
    background-color: var(--dark-color);
    color: var(--dark-high-contrast);
    padding: 1.5rem 0;
    text-align: center;
}