/* -------------------------------------------------
    Variables
   ------------------------------------------------- */

:root {
    --dark-color: #212121;
    --dark-reduced: #505050;
    --dark-high-contrast: #fff;

    --interactive-background: #86a59c;
    --interactive-contrast: #000;

    --light-color: #f7fafc;

    --separator: #218380;
}

/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

body,
html {
    background-color: var(--light-color);
    color: var(--font-color);
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .025rem;
    line-height: 1.5;
    margin: 0;
    word-spacing: .075rem;
}

footer {
    border-top: .2rem solid var(--separator);
}

footer,
header {
    background-color: var(--dark-color);
    color: var(--dark-high-contrast);
    padding: 1.5rem 0;
    text-align: center;
}

h1 {
    font-weight: 400;
}

main {
    margin: 2.5rem auto;
}