/* -------------------------------------------------
    Variables
   ------------------------------------------------- */

:root {
    --accent-color: #030F1F;

    --font-color: #202124;
    --high-contrast-color: #ffffff;

    --separator-color: #00000010;
}

/* -------------------------------------------------
    Element styles
   ------------------------------------------------- */

body,
html {
    color: var(--font-color);
    font-family: 'Roboto', sans-serif;
    letter-spacing: .025rem;
    line-height: 1.5;
    margin: 0;
    word-spacing: .025rem;
}

h2,
h3 {
    font-weight: 400;
}

h3 {
    margin: 1rem 0 .25rem !important;
}

section {
    position: relative;
}

/* -------------------------------------------------
    Class styles
   ------------------------------------------------- */

.card {
    border-radius: .75rem !important;
    margin: 2rem 0;
}

.cardContent {
    padding: 1rem !important;
}

.cardHeader {
    padding-bottom: 0 !important;
}

.warning {
    background-color: #FEEFB3;
    color: #734600;
    margin: 0;
    padding: .5rem;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 100;
}